<div class="flex flex-wrap -m-1 mt-4">
    @for(matchup of matchups; track matchup; let i = $index) {
    <p-card class="basis-full md:basis-1/3 md:block py-1 px-1" [style]="{'background': 'white'}">
        <div class="text-center font-bold">{{matchup.gameTime}} ET</div>
        <div class="flex flex-row">
            <div class="basis-5/12 flex flex-col">
                <div class="flex justify-center">
                    <img loading="lazy" src="{{matchup.leftWikipediaLogoUrl}}" class="w-16 h-16" />
                </div>
                <div class="flex justify-center mt-2">
                    {{matchup.leftTeam}}
                </div>
                <div class="flex justify-center mt-2 text-3xl">
                    {{matchup.leftScore}}
                </div>
            </div>
            <div class="basis-1/6 flex flex-col">
                <div class="flex flex-col h-full justify-center items-center">
                    <p-chip>
                        <span>Total:</span>
                        <span>{{matchup.totalPoints}}</span>
                    </p-chip>
                    <p-chip class="mt-2">
                        <span>Confidence:</span>
                        <span>{{matchup.confidence}}</span>
                    </p-chip>
                </div>
            </div>
            <div class="basis-5/12 flex flex-col">
                <div class="flex justify-center">
                    <img loading="lazy" src="{{matchup.rightWikipediaLogoUrl}}" class="w-16 h-16" />
                </div>
                <div class="flex justify-center mt-2">
                    {{matchup.rightTeam}}
                </div>
                <div class="flex justify-center mt-2 text-3xl">
                    {{matchup.rightScore}}
                </div>
            </div>
        </div>
    </p-card>
    }
</div>