<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-2 mt-4">
    @for(matchup of matchups; track matchup; let i = $index) {
    <p-card class="h-full" [style]="{'background': 'white'}">
        <div class="text-center font-bold text-black">{{matchup.gameTime}} ET</div>
        <div class="flex flex-row">
            <div class="basis-5/12 flex flex-col text-black">
                <div class="flex justify-center items-center">
                    <img loading="lazy" src="{{matchup.leftWikipediaLogoUrl}}" class="w-16 h-16" />
                </div>
                <div class="flex justify-center items-center mt-2 text-sm">
                    ({{matchup.leftRecord}})
                </div>
                <div class="flex justify-center items-center text-lg">
                    {{matchup.leftTeam}}
                </div>
                <div class="flex justify-center items-center mt-2 text-3xl">
                    {{matchup.leftScore}}
                </div>
            </div>
            <div class="basis-1/6 flex flex-col">
                <div class="flex flex-col h-full justify-center items-center">
                    <p-chip>
                        <span>Total:</span>
                        <span>{{matchup.totalPoints}}</span>
                    </p-chip>
                    <p-chip class="mt-2">
                        <span>Confidence:</span>
                        <span>{{matchup.confidence}}</span>
                    </p-chip>
                </div>
            </div>
            <div class="basis-5/12 flex flex-col text-black">
                <div class="flex justify-center items-center">
                    <img loading="lazy" src="{{matchup.rightWikipediaLogoUrl}}" class="w-16 h-16" />
                </div>
                <div class="flex justify-center items-center mt-2 text-sm">
                    ({{matchup.rightRecord}})
                </div>
                <div class="flex justify-center items-center text-lg">
                    {{matchup.rightTeam}}
                </div>
                <div class="flex justify-center items-center mt-2 text-3xl">
                    {{matchup.rightScore}}
                </div>
            </div>
        </div>
    </p-card>
    }
</div>