<img src="assets/hoopfire-logo-2024.png" class="logo-img">
<div>
    <div class="grid m-0">
        <div class="col">
            <div class="text-center p-3 border-round bg-primary">
                <p-button label="NCAA" class="block w-full" [routerLink]="['ncaa']"></p-button>
            </div>
        </div>
        <div class="col">
            <div class="text-center p-3 border-round bg-primary">
                <p-button label="NBA" class="block w-full" [routerLink]="['nba']"></p-button>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>