<img src="assets/hoopfire-logo-2024.png" class="logo-img">
<div class="px-2 py-6 md:px-6">
    <div class="flex flex-row gap-1">
        <div class="basis-1/2">
            <p-splitbutton routerLink="/ncaa" label="NCAA" dropdownIcon="pi pi-pencil" [model]="itemsNCAA" class="w-full" />
        </div>
        <div class="basis-1/2">
            <p-splitbutton routerLink="/nba" label="NBA" dropdownIcon="pi pi-pencil" [model]="itemsNBA" class="w-full" />   
        </div>
    </div>
    <router-outlet></router-outlet>
</div>