@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

/* Core Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-balham.css';

html,
body {
    height: 100%;
    width: 100%;
    background: #121212;
    font-size: 12px;
    margin: 0;
}

.remove-game-button {
    position: absolute;
    right: 1px;
    top: 1px;
}

.p-splitbutton-button {
    width: 100% !important;
}